<!-- <p>
  tongbudetail works!
</p> -->
<div class="container">
  <!--可解析的对象-->
  <!--每写一次，都会发起一个对象异步请求，订阅，拿到对象，不好（太多次请求，性能不好）-->
  <!--数组的时候可以这样用，不订阅，可观察对象接收-->
  <!-- <h3>{{(course?|async).id}}</h3> -->
  <!--不加问号，报错，因为第一次拿不到，需要时间，之后才会赋值-->
  <!-- //把前面可观察对象拿到，相当于异步 -->

  <h3>同步课/{{course?.courseName}}</h3>
  <ul class="list">
    <li [class.active]="true">简介</li>
    <!-- flase就没有样式了 -->
    <!-- <li>简介</li> -->
    <li [ngClass]="{'active':true}">互动</li>
    <!-- <li >互动</li> -->
    <li [style.color]="'blue'">任务{{course?.task}}</li>
    <li [ngStyle]="{'color': 'red','font-size':'50px'}">成员{{course?.person}}</li> 
    </ul>
</div>
<input type="radio" checked (change)="change($event)" value="1" name="num">1111
<!-- //(change)="change(1)" -->
<input type="radio" (change)="change($event)" value="2" name="num">2222
<input type="radio" (change)="change($event)" value="3" name="num">3333

<div [ngSwitch]="num">
  <div *ngSwitchCase="1">1</div>
  <div *ngSwitchCase="2">2</div>
  <div *ngSwitchCase="3">3</div>
</div>
<p>{{jsonObject|json}}</p>
<p>{{date|date:'y-MM-DD E'}}</p>
{{'hdhdhdh'|uppercase}}