.test{
    /* border:2px solid red; */
    width: 750px;
    height: 80px;
    margin-left: -25px;
    font-size: 14px;
}
.test div{
    width: 750px;
    border:1px solid rgb(228, 227, 227);
    height: 40px;
    line-height: 40px;
    font-weight:bolder ;
}
.test div:last-child{
    background-color: rgb(241, 241, 241);
    font-weight:normal ;
}
.p{
    border:2px solid rgb(255, 171, 15);
    font-size: 10px;
    margin-left: 30px;
    border-radius:10px;
}
