page-search {
    ion-header
    {
        height: 49px !important;
        // margin-top: 10px;
        ion-input{
            margin-top: 7px;
            margin-left:18px ;
            // margin-bottom: 10px;
            background: #ededed;
            width: 280px!important;
            height: 35px;
            border-radius: 5px;
            input::-webkit-input-placeholder {
                text-align: center;
                color: #767676;
                font-size:16px;
                font-weight: 200;
            }
        }
    }
    .navList{
        margin-left: -30px;
        li{
            margin-top:10px;
            float: left;
            border: 1px solid #a0a0a0;
            margin-left: 10px;
            color: #a0a0a0;
            padding: 0 3px 0 3px;
            // font-size: 12px;
        }
    }
}
